body {
  width: 70%;
  margin: auto;
  background-color: #933223;
}

.table {
  z-index: 10;
  position: relative;
}

.dealerCardBox,
.player1Box {
  width: 100px;
  height: 100px;
  z-index: 100;
}

.dealerCardBox {
  position: absolute;
  top: 50px;
  left: 660px;
}

.player1Box {
  position: absolute;
  top: 250px;
  left: 270px;
}

.bet1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 203px;
  left: 371px;
  z-index: 100;
  font-size: 30px;
  color: red;
  text-align: center;
  padding-top: 3px;
}

#player {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  background-color: red;
  color: black;
  padding: .5em;
}

#instructions {
  width: 200px;
  font-size: 30px;
}

#deal,
#bet,
#submit,
#hit,
#stand,
#replay,
label,
input {
  width: 130px;
  font-size: 30px;
}

.panel {
  text-align: center;
}

.image{
  position: absolute;
  width: 80%;
  z-index: 1;
}

.cardBack {
  position: absolute;
  width: 80%;
  z-index: 50;
}

.youWin,
.dealerWins,
.nobodyWins {
  position: absolute;
  top: 250px;
  left: 600px;
  width: 200px;
  height: 100px;
  background-color: rgba(251, 251, 3, .7);
  color: #933223;
  border: 2px dashed #933233;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  z-index: 200;
  border-radius: 5%;
  display: none;
}
