body {
  width: 70%;
  margin: auto;
}

.table {
  z-index: 10;
  position: relative;
}

.dealerCard1,
.dealerCard2,
.cardBack,
.dealerCard3,
.dealerCard4,
.dealerCard5,
.dealerCard6,
.dealerCard7,
.dealerCard8,
.dealerCard9,
.dealerCard10,
.player1Card1,
.player1Card2,
.player1Card3,
.player1Card4,
.player1Card5,
.player1Card6,
.player1Card7,
.player1Card8,
.player1Card9,
.player1Card10 {
  width: 100px;
  height: 100px;
  z-index: 100;
}

.dealerCard1 {
  position: absolute;
  top: 50px;
  left: 660px;
}

.dealerCard2 {
  position: absolute;
  top: 60px;
  left: 670px;
}

.dealerCard3 {
  position: absolute;
  top: 70px;
  left: 680px;
}

.dealerCard4 {
  position: absolute;
  top: 80px;
  left: 690px;
}

.dealerCard5 {
  position: absolute;
  top: 90px;
  left: 700px;
}

.dealerCard6 {
  position: absolute;
  top: 100px;
  left: 710px;
}

.dealerCard7 {
  position: absolute;
  top: 110px;
  left: 720px;
}

.dealerCard8 {
  position: absolute;
  top: 120px;
  left: 730px;
}

.dealerCard9 {
  position: absolute;
  top: 130px;
  left: 740px;
}

.dealerCard10 {
  position: absolute;
  top: 140px;
  left: 750px;
}

.player1Card1 {
  position: absolute;
  top: 250px;
  left: 270px;
}

.player1Card2 {
  position: absolute;
  top: 260px;
  left: 280px;
}

.player1Card3 {
  position: absolute;
  top: 270px;
  left: 290px;
}

.player1Card4 {
  position: absolute;
  top: 280px;
  left: 300px;
}

.player1Card5 {
  position: absolute;
  top: 290px;
  left: 310px;
}

.player1Card6 {
  position: absolute;
  top: 300px;
  left: 320px;
}

.player1Card7 {
  position: absolute;
  top: 310px;
  left: 330px;
}

.player1Card8 {
  position: absolute;
  top: 320px;
  left: 340px;
}

.player1Card9 {
  position: absolute;
  top: 330px;
  left: 350px;
}

.player1Card10 {
  position: absolute;
  top: 340px;
  left: 360px;
}

.bet1 {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  top: 203px;
  left: 371px;
  z-index: 100;
  font-size: 30px;
  color: red;
  text-align: center;
  padding-top: 3px;
}

.turn {
  text-align: center;
  color: purple;
}

#player {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  background-color: red;
  color: black;
  padding: .5em;
}

#deal,
#bet,
#submit,
#hit,
#stand,
label,
input {
  width: 100px;
  font-size: 30px;
}

.panel {
  text-align: center;
}

.image{
  width: 80%;
  z-index: 1;
}

.cardBack {
  width: 80%;
  z-index: 2;
  /* z-index: 200px; */
}

.imageCard2 {
  width: 80%;
  z-index: 20;
  position: absolute;
  top: 10px;
  left: 10px;
}

.imageDealerCard2 {
  width: 80%;
  z-index: -20;
  position: absolute;
  top: 10px;
  left: 10px;
}

.imageDealerFaceUpCard2 {
  width: 80%;
  z-index: 20;
  position: absolute;
  left: 100px;
}

.imagePlayerCard3 {
  width: 80%;
  z-index: 30;
  position: absolute;
  top: 20px;
  left: 20px;
}
